In [1]:
import tensorflow as tf
import tensorflow.keras as keras
import pandas as pd
import numpy as np

In [2]:
imdb_reviews=pd.read_csv("C:/Users/gopes/Machine learning projects/Sentiment Analysis/imdb_reviews.csv")
test_reviews=pd.read_csv("C:/Users/gopes/Machine learning projects/Sentiment Analysis/test_reviews.csv")

In [3]:
imdb_reviews.head()

                                             Reviews Sentiment
0  <START this film was just brilliant casting lo...  positive
1  <START big hair big boobs bad music and a gian...  negative
2  <START this has to be one of the worst films o...  negative
3  <START the <UNK> <UNK> at storytelling the tra...  positive
4  <START worst mistake of my life br br i picked...  negative

In [4]:
test_reviews.head()

                                             Reviews Sentiment
0  <START please give this one a miss br br <UNK>...  negative
1  <START this film requires a lot of patience be...  positive
2  <START many animation buffs consider <UNK> <UN...  positive
3  <START i generally love this type of movie how...  negative
4  <START like some other people wrote i'm a die ...  positive

In [5]:
word_index = pd.read_csv("C:/Users/gopes/Machine learning projects/Sentiment Analysis/word_indexes.csv")

In [6]:
word_index.head(n=10)

      Words  Indexes
0   tsukino    52009
1   nunnery    52010
2     sonja    16819
3      vani    63954
4     woods     1411
5   spiders    16118
6   hanging     2348
7     woody     2292
8  trawling    52011
9    hold's    52012

In [7]:
word_index=dict(zip(word_index.Words,word_index.Indexes))

In [13]:
word_index["<PAD>"]=0
word_index["<START"]=1
word_index["<UNK>"]=2
word_index["<UNUSED>"]=3

In [9]:
def review_encoder(text):
    arr=[word_index[word] for word in text]
    return arr

In [10]:
train_data,train_labels=imdb_reviews['Reviews'],imdb_reviews['Sentiment']
test_data,test_labels=test_reviews['Reviews'],test_reviews['Sentiment']

In [11]:
train_data=train_data.apply(lambda review:review.split())
test_data=test_data.apply(lambda review:review.split())

In [14]:
train_data=train_data.apply(review_encoder)
test_data=test_data.apply(review_encoder)

In [15]:
def e_sentiments(sentiment):
    if sentiment == 'positive':
        return 1 
    else:
        return 0
    
train_labels=train_labels.apply(e_sentiments)
test_labels=test_labels.apply(e_sentiments)

In [16]:
train_data=keras.preprocessing.sequence.pad_sequences(train_data,value=word_index["<PAD>"],padding='post',maxlen=500)
test_data=keras.preprocessing.sequence.pad_sequences(test_data,value=word_index["<PAD>"],padding='post',maxlen=500)

In [17]:
model=keras.Sequential([keras.layers.Embedding(10000,16,input_length=500),
                      keras.layers.GlobalAveragePooling1D(),
                      keras.layers.Dense(16,activation='relu'),
                      keras.layers.Dense(1,activation='sigmoid')])

In [18]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [38]:
history = model.fit(train_data,train_labels,epochs=40,batch_size=512,validation_data=(test_data,test_labels))

Epoch 1/40
49/49 [==============================] - 2s 31ms/step - loss: 0.0308 - accuracy: 0.9941 - val_loss: 0.6375 - val_accuracy: 0.8581
Epoch 2/40
49/49 [==============================] - 1s 30ms/step - loss: 0.0302 - accuracy: 0.9944 - val_loss: 0.6407 - val_accuracy: 0.8580
Epoch 3/40
49/49 [==============================] - 1s 29ms/step - loss: 0.0297 - accuracy: 0.9946 - val_loss: 0.6470 - val_accuracy: 0.8584
Epoch 4/40
49/49 [==============================] - 1s 29ms/step - loss: 0.0294 - accuracy: 0.9945 - val_loss: 0.6440 - val_accuracy: 0.8571
Epoch 5/40
49/49 [==============================] - 1s 30ms/step - loss: 0.0293 - accuracy: 0.9944 - val_loss: 0.6499 - val_accuracy: 0.8574
Epoch 6/40
49/49 [==============================] - 1s 30ms/step - loss: 0.0288 - accuracy: 0.9946 - val_loss: 0.6507 - val_accuracy: 0.8563
Epoch 7/40
49/49 [==============================] - 1s 30ms/step - loss: 0.0282 - accuracy: 0.9946 - val_loss: 0.6602 - val_accuracy: 0.8574
Epoch 8/40
49/49 [==============================] - 2s 31ms/step - loss: 0.0278 - accuracy: 0.9949 - val_loss: 0.6552 - val_accuracy: 0.8552
Epoch 9/40
49/49 [==============================] - 2s 31ms/step - loss: 0.0274 - accuracy: 0.9950 - val_loss: 0.6607 - val_accuracy: 0.8554
Epoch 10/40
49/49 [==============================] - 2s 31ms/step - loss: 0.0273 - accuracy: 0.9952 - val_loss: 0.6679 - val_accuracy: 0.8564
Epoch 11/40
49/49 [==============================] - 1s 29ms/step - loss: 0.0271 - accuracy: 0.9948 - val_loss: 0.6706 - val_accuracy: 0.8559
Epoch 12/40
49/49 [==============================] - 1s 29ms/step - loss: 0.0263 - accuracy: 0.9952 - val_loss: 0.6729 - val_accuracy: 0.8549
Epoch 13/40
49/49 [==============================] - 1s 29ms/step - loss: 0.0259 - accuracy: 0.9955 - val_loss: 0.6882 - val_accuracy: 0.8559
Epoch 14/40
49/49 [==============================] - 1s 29ms/step - loss: 0.0256 - accuracy: 0.9954 - val_loss: 0.6889 - val_accuracy: 0.8558
Epoch 15/40
49/49 [==============================] - 1s 30ms/step - loss: 0.0250 - accuracy: 0.9957 - val_loss: 0.6940 - val_accuracy: 0.8556
Epoch 16/40
49/49 [==============================] - 1s 30ms/step - loss: 0.0247 - accuracy: 0.9958 - val_loss: 0.6931 - val_accuracy: 0.8558
Epoch 17/40
49/49 [==============================] - 1s 30ms/step - loss: 0.0246 - accuracy: 0.9957 - val_loss: 0.6911 - val_accuracy: 0.8535
Epoch 18/40
49/49 [==============================] - 1s 29ms/step - loss: 0.0240 - accuracy: 0.9960 - val_loss: 0.7023 - val_accuracy: 0.8552
Epoch 19/40
49/49 [==============================] - 1s 30ms/step - loss: 0.0236 - accuracy: 0.9960 - val_loss: 0.7026 - val_accuracy: 0.8544
Epoch 20/40
49/49 [==============================] - 1s 29ms/step - loss: 0.0231 - accuracy: 0.9962 - val_loss: 0.7134 - val_accuracy: 0.8552
Epoch 21/40
49/49 [==============================] - 1s 29ms/step - loss: 0.0229 - accuracy: 0.9963 - val_loss: 0.7291 - val_accuracy: 0.8550
Epoch 22/40
49/49 [==============================] - 1s 29ms/step - loss: 0.0223 - accuracy: 0.9965 - val_loss: 0.7245 - val_accuracy: 0.8547
Epoch 23/40
49/49 [==============================] - 1s 30ms/step - loss: 0.0218 - accuracy: 0.9965 - val_loss: 0.7234 - val_accuracy: 0.8541
Epoch 24/40
49/49 [==============================] - 1s 29ms/step - loss: 0.0215 - accuracy: 0.9966 - val_loss: 0.7297 - val_accuracy: 0.8543
Epoch 25/40
49/49 [==============================] - 1s 30ms/step - loss: 0.0210 - accuracy: 0.9968 - val_loss: 0.7409 - val_accuracy: 0.8545
Epoch 26/40
49/49 [==============================] - 1s 30ms/step - loss: 0.0207 - accuracy: 0.9966 - val_loss: 0.7397 - val_accuracy: 0.8540
Epoch 27/40
49/49 [==============================] - 1s 30ms/step - loss: 0.0205 - accuracy: 0.9968 - val_loss: 0.7462 - val_accuracy: 0.8536
Epoch 28/40
49/49 [==============================] - 1s 30ms/step - loss: 0.0200 - accuracy: 0.9971 - val_loss: 0.7493 - val_accuracy: 0.8534
Epoch 29/40
49/49 [==============================] - 1s 30ms/step - loss: 0.0197 - accuracy: 0.9972 - val_loss: 0.7611 - val_accuracy: 0.8545
Epoch 30/40
49/49 [==============================] - 1s 30ms/step - loss: 0.0194 - accuracy: 0.9970 - val_loss: 0.7614 - val_accuracy: 0.8534
Epoch 31/40
49/49 [==============================] - 1s 30ms/step - loss: 0.0191 - accuracy: 0.9973 - val_loss: 0.7762 - val_accuracy: 0.8537
Epoch 32/40
49/49 [==============================] - 2s 31ms/step - loss: 0.0188 - accuracy: 0.9972 - val_loss: 0.7693 - val_accuracy: 0.8531
Epoch 33/40
49/49 [==============================] - 1s 30ms/step - loss: 0.0184 - accuracy: 0.9974 - val_loss: 0.7858 - val_accuracy: 0.8533
Epoch 34/40
49/49 [==============================] - 1s 30ms/step - loss: 0.0183 - accuracy: 0.9973 - val_loss: 0.7820 - val_accuracy: 0.8532
Epoch 35/40
49/49 [==============================] - 1s 30ms/step - loss: 0.0178 - accuracy: 0.9976 - val_loss: 0.7823 - val_accuracy: 0.8528
Epoch 36/40
49/49 [==============================] - 2s 31ms/step - loss: 0.0175 - accuracy: 0.9976 - val_loss: 0.7927 - val_accuracy: 0.8530
Epoch 37/40
49/49 [==============================] - 2s 32ms/step - loss: 0.0172 - accuracy: 0.9977 - val_loss: 0.8079 - val_accuracy: 0.8526
Epoch 38/40
49/49 [==============================] - 2s 31ms/step - loss: 0.0169 - accuracy: 0.9978 - val_loss: 0.7959 - val_accuracy: 0.8509
Epoch 39/40
49/49 [==============================] - 2s 33ms/step - loss: 0.0167 - accuracy: 0.9976 - val_loss: 0.8090 - val_accuracy: 0.8522
Epoch 40/40
49/49 [==============================] - 2s 31ms/step - loss: 0.0161 - accuracy: 0.9978 - val_loss: 0.8059 - val_accuracy: 0.8506

In [20]:
loss,accuracy=model.evaluate(test_data,test_labels)

782/782 [==============================] - 1s 868us/step - loss: 0.3205 - accuracy: 0.8812

In [21]:
test_reviews.head()

                                             Reviews Sentiment
0  <START please give this one a miss br br <UNK>...  negative
1  <START this film requires a lot of patience be...  positive
2  <START many animation buffs consider <UNK> <UN...  positive
3  <START i generally love this type of movie how...  negative
4  <START like some other people wrote i'm a die ...  positive

In [22]:
index=np.random.randint(1,1000)

In [23]:
review_case=test_reviews.loc[index]
print(review_case)

Reviews      <START i actually found out about rising via t...
Sentiment                                             positive
Name: 155, dtype: object

In [24]:
review_case=test_data[index]
review_case=np.array([review_case])
if(model.predict(review_case) > 0.5).astype("int32"):
    print("The movie was good")
else:
    print("The movie was ridiculously bad")

The movie was good